.oneroombox {
    min-height: 85vh;
    padding: 1rem 3rem;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #EEEE;
}

.oneroomcard {
    background-color: white;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border-radius: 5px;
}

.oneroomcard img {
    width: 50vw;
    margin: 2rem auto 2rem auto;
}

.oneroomcard h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.oneroomcard p {
    margin-bottom: 0.5rem;
}

@media screen and (max-width: 700px) {


    .oneroombox {
        padding: 1rem;
    }

    .oneroomcard {
        padding: 1rem;
        height: 100%;
        width: 100%;
    }

    .oneroomcard img {
        width: 1rem;
    }

    .oneroomcard h1 {
        font-size: 8vw;
    }
    

}