.mybookingsbox {
    min-height: 85vh;
    padding: 1rem;
}

.mybooking {
    margin: 1rem 0rem;
    background-color: #EEEE;
    border-radius: 5px;
    padding: 1rem;
}

.bookingslinks {
    display: flex;
    justify-content: space-evenly;
}

.ratebox {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.submitclose {
    padding: 1rem 2rem;
    display: flex;
    justify-content: flex-end;
}

.ratebox form {
    background-color: #EEEE;
    padding: 1rem 2rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.ratebox form h1 {
    font-size: 2.5rem;
    text-align: center;
}

.submitreview {
    padding: 0.5rem;
    font-size: 1.3rem;
    outline: none;
    border: none;
    border-radius: 5px;
}

.submitdone {
    position: absolute;
    top: 0;
    width: 100%;
}

@media screen and (max-width: 400px) {
    .ratebox form {
        padding: 1rem;
        width: 95%;
    }

    .ratebox form h1 {
        font-size: 2rem;
        text-align: center;
    }
}