.mybookingsbox {
    min-height: 85vh;
    padding: 1rem;
}

.mybooking {
    margin: 1rem 0rem;
    background-color: #EEEE;
    border-radius: 5px;
    padding: 1rem;
}

.bookingslinks {
    display: flex;
    justify-content: space-evenly;
}
