.main3 {
    display: flex;
    justify-content: center;
    min-height: 85vh;
}

.registerform {
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: column;
}

@media screen and (max-width: 500px) {
    .registerform {
        width: 100%;
        margin: auto 1rem;
    }
}