.adminbox {
    min-height: 85vh;
}

.adminboxlinks {
    display: flex;
    justify-content: space-evenly;
}

.adminboxlinks a {
    border-bottom: solid 2px transparent;
    transition-property: all;
    font-size: 1.1rem;
}

.adminboxlinks a:hover {
    border-bottom: solid 2px black;
    transition-duration: 0.5s;
}

.adminboxstatus {
    background-color: #EEEE;
    border-radius: 5px;
}