.main2 {
    display: flex;
    min-height: 85vh;
}

.loginform {
    flex: 1;
    display: flex;
    margin: auto 2rem;
    flex-direction: column;
    justify-content: center;
}

.loginform h1 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.loginsidebg {
    flex: 1;
    background-size: cover;
    height: 31.25rem;
    width: 31.25rem;
}

@media screen and (max-width: 800px) {

    .loginsidebg {
        height: 1%;
        width: 100%;
        padding: 10rem 0rem;
        order: 2;
    }

    .main2 {
        flex-direction: column;
    }

    .loginform {
        order: 1;
        padding: 3rem 0rem;
        margin: 1rem;
    }
}